{% extends "base.html" %}

{% block title %}
    编辑个人头像
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>上传个人头像</h1>
        </div>
        </hr>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group" style="background-color: rgb(248, 248, 248);">
                {{ form.file.label }} {{ form.file }}
            </div>
            <div class="form-group">
                {{ form.submit( class="btn btn-default") }}
            </div>
        </form>
    </div>

{% endblock %}

